<div id="about" data-role="page">
  <div data-role="header">
    <h1>about zerowx</h1>
  </div>

  <div data-role="content">
    <p>A <a href="http://zerowidth.com">zerowidth</a> production.</p>
    <p>Weather data provided by</p>

    <p>
      <a href="http://weather.gov/">
        <img src="/images/NOAA-logo.jpg" alt="" width="50" height="50" />
        <br />
        NOAA / National Weather Service
      </a>
    </p>

    <p>
      <a href="http://wunderground.com/weatherstation/">
        <img src="images/bh-wui_logo.gif" alt="" width="81" height="50" />
        <br />
        Weather Underground
      </a>
    </p>
  </div>
</div>
