<!doctype html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>zerowx</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!--meta name="apple-mobile-web-app-capable" content="yes" /-->

  <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" /> -->
  <link rel="stylesheet" href="/js/jqm/jquery.mobile-1.0b1pre.min.css" />
  <link rel="stylesheet" href="/css/zerowx.css">

  <script src="/js/libs/modernizr-1.7.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script src="/js/libs/jquery.sparkline.min.js"></script>
  <script src="/js/libs/jquery.mustache.js"></script>
  <script src="/js/libs/underscore-min.js"></script>
  <!-- <script src="/js/libs/backbone.min.js"></script> -->
  <!-- <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script> -->
  <script src="/js/app.js"></script>
  <!-- jquery mobile loaded last to allow mobileinit event binding -->
  <script src="/js/jqm/jquery.mobile-1.0b1pre.min.js"></script>
</head>

<body>

  <%= yield %>

  <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <script>
   var _gaq = [['_setAccount', 'UA-6252161-5'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

  <script id="station_list_template" type="text/html">
    {{#stations}}
    <li>
      <a href="/weather/{{ id }}">
        <h3>{{ name }}</h3>
        <p>
          {{ id }} in {{ location }}
        </p>
      </a>
    </li>
    {{/stations}}
    {{^stations}}
    <li>No stations saved yet.</li>
    {{/stations}}
  </script>

</body>
</html>
