<div id="search_results" data-role="page">
  <div data-role="header">
    <h1>Stations Near You</h1>
    <a href="/" class="ui-btn-right" data-icon="home" data-iconpos="notext"></a>
  </div>

  <div data-role="content">
    <%= erb :_station_list %>
  </div>
</div>
